/* ShowTime.css */
.date-toggle-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds space between buttons */
  }
  
  .date-toggle-button {
    border: 2px solid yellow !important;
    color: yellow !important;
    background-color: transparent !important;
    font-weight: bold;
    flex: 1;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .date-toggle-button:hover {
    background-color: transparent !important; /* Removes hover effect */
  }
  
  .date-toggle-button.Mui-selected {
    background-color: yellow !important;
    color: purple !important;
  }
  
  .date-toggle-button.Mui-selected:hover {
    background-color: yellow !important;
  }
  