@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  font-family: "JetBrains Mono", Inter, system-ui, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0;
  padding: 0;
  //background-color: #0b0d1a; /* match your container's background */
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #834bff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.quill-content ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.quill-content ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
  padding-left: 1rem;
}
